{{ define "main" }}

<!-- hero area -->
<section class="hero-area bg-cover overflow-hidden" id="parallax"
  style="background-image: url(images/valinor/bgimage-1.jpg);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 mx-auto text-center">
        <h1 class="text-white d-none d-lg-block font-tertiary mb-40">{{ site.Data.homepage.banner.title | safeHTML }}
        </h1>
        <h1 class="text-white d-lg-none font-tertiary">{{ site.Data.homepage.banner.title_mobile_1 | safeHTML }}</h1>
        <h1 class="text-white d-lg-none font-tertiary mb-40">{{ site.Data.homepage.banner.title_mobile_2 | safeHTML }}
        </h1>
        <h3 class="text-white font-tertiary">{{ site.Data.homepage.banner.subtitle1 | safeHTML }}</h3>
        <h3 class="text-white font-tertiary">{{ site.Data.homepage.banner.subtitle2 | safeHTML }}</h3>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->

{{ if site.Data.homepage.about.enable }}
<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ with site.Data.homepage.about }}
      <div class="col-lg-12 mx-auto text-center">
        <p class="font-primary lead text-dark mb-3 mb-lg-5">{{.content | markdownify}}</p>
        <a href="{{ .button_url }}" target="_blank" class="btn btn-primary">{{ .button_title }}</a>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /about -->
{{ end }}

{{ if site.Data.homepage.join.enable }}
<!-- join -->
<section class="section section-no-vertical-padding">
  <div class="container-fluid px-0">
    <div class="col-12 text-center">
      <h2 class="section-title">Join the Movement</h2>
    </div>
  </div>
</section>
<section class="section section-no-vertical-padding bg-student" id="for-students">
  <div class="container-fluid px-0">
    {{ with site.Data.homepage.join.students }}
    <div class="d-flex row no-gutters hover-bg-student" onclick="window.open('{{ .URL | absURL }}');"
      style="cursor: pointer;">
      <div class="col-5 col-lg-6 order-last">
        <img src="{{ .image | absURL }}" class="d-none d-lg-block img-fluid students-image" alt="icon">
        <img src="{{ .mobile_image | absURL }}" class="d-block d-lg-none students-image" alt="icon">
      </div>
      <div class="col-7 col-lg-6 order-first px-1 px-lg-3 pt-3 align-self-center text-center">
        <h3 class="section-title mb-4 mb-lg-5">{{ .title }}</h3>
        <p class="small-lead font-primary">{{ .content | markdownify }}</p>
        <p class="small-lead font-primary">Fill out this form</p>
      </div>
      {{ end }}
    </div>
</section>
<section class="section section-no-vertical-padding bg-employer" id="for-employers">
  <div class="container-fluid px-0">
    {{ with site.Data.homepage.join.employers }}
    <div class="d-flex row no-gutters hover-bg-employer" onclick="window.open('{{ .URL | absURL }}');"
      style="cursor: pointer;">
      <div class="col-5 col-lg-6">
        <img src="{{ .image | absURL }}" class="d-none d-lg-block img-fluid students-image" alt="icon">
        <img src="{{ .mobile_image | absURL }}" class="d-block d-lg-none students-image" alt="icon">
      </div>
      <div class="col-7 col-lg-6 px-1 px-lg-3 pt-3 align-self-center text-center">
        <h3 class="section-title mb-20">{{ .title }}</h3>
        <p class="small-lead font-primary mb-20">{{ .content | markdownify }}</p>
        <p class="small-lead font-primary">Fill out this form</p>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /join -->
{{ end }}


<!-- our story -->
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Our Story</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range first 1 site.RegularPages }}
      {{ .Render "single-post" }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /our story -->

<!-- team -->
{{ if site.Data.homepage.team.enable }}
{{ with site.Data.homepage.team }}
<section class="section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-6 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center mx-auto" style="max-width: 18rem;">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            {{ range .item }}
            <p class="text-color  font-secondary mb-0" style="font-size: 1.0rem;">{{.content }}</p>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

<!-- contact -->
<section class="section section-on-footer" id="contact" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <form action="{{site.Params.contact.form_action}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="text" id="university" name="university" placeholder="University (if applicable)"
                class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="text" id="company" name="company" placeholder="Company (if applicable)"
                class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4" placeholder="Message"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

{{ end }}