{{ define "main" }}

<!-- hero area -->
<section class="hero-area bg-cover overflow-hidden" id="parallax"
  style="background-image: url(images/valinor/bgimage.png);">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary">{{ site.Data.homepage.banner.title | safeHTML }}</h1>
      </div>
    </div>
  </div>
</section>
<!-- /hero area -->

{{ if site.Data.homepage.about.enable }}
<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      {{ with site.Data.homepage.about }}
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
      </div>
      {{ range .item }}
      <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3 mx-auto">
        <img src="{{ .icon | absURL }}" class="mb-4" alt="icon">
        <h4 class="mb-4">{{ .title }}</h4>
        <p>{{ .content | markdownify }}</p>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /about -->
{{ end }}

{{ if site.Data.homepage.join.enable }}
<!-- join -->
<section class="section">
  <div class="container">
    <div class="row mb-80">
      <div class="col-12 text-center">
        <h2 class="section-title">{{site.Data.homepage.join.title | markdownify }}</h2>
      </div>
      <div class="col-lg-10 mx-auto text-center">
        {{ with site.Data.homepage.join }}
        <p class="font-secondary lead text-dark">{{.content | markdownify}}</p>
        {{ with .employer_button }}
        <a href="{{ .URL | absURL }}" target="_blank" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ with .student_button }}
        <a href="{{ .URL | absURL }}" target="_blank" class="btn btn-transparent">{{.label}}</a>
        {{ end }}
        {{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      {{ range first 1 site.RegularPages }}
      {{ .Render "single-post" }}
      {{ end }}
    </div>
  </div>
</section>
<!-- /join -->
{{ end }}

<!-- team -->
{{ if site.Data.about.team.enable }}
{{ with site.Data.about.team }}
<section class="section" data-background="{{`images/backgrounds/bg-dots.png`|relURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ .title | markdownify }}</h2>
      </div>
      {{ range .team_member }}
      <div class="col-md-6 col-sm-6 mb-4 mb-md-0">
        <div class="card text-center mx-auto" style="max-width: 18rem;">
          <img src="{{ .image | absURL }}" class="card-img-top">
          <div class="card-body">
            <h4 class="card-title">{{.title }}</h4>
            <p class="text-light font-secondary">{{.designation }}</p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /team -->

<!-- contact -->
<section class="section section-on-footer" data-background="{{`images/backgrounds/bg-dots.png` | absURL}}">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Contact Us</h2>
      </div>
      <div class="col-lg-8 mx-auto">
        <div class="bg-white rounded text-center p-5 shadow-down">
          <form action="{{site.Params.contact.form_action}}" method="POST" class="row">
            <div class="col-md-6">
              <input type="text" id="name" name="name" placeholder="Full Name" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="email" id="email" name="email" placeholder="Email Address" class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="text" id="university" name="university" placeholder="University (if applicable)"
                class="form-control px-0 mb-4">
            </div>
            <div class="col-md-6">
              <input type="text" id="company" name="company" placeholder="Company (if applicable)"
                class="form-control px-0 mb-4">
            </div>
            <div class="col-12">
              <textarea name="message" id="message" class="form-control px-0 mb-4" placeholder="Message"></textarea>
            </div>
            <div class="col-lg-6 col-10 mx-auto">
              <button class="btn btn-primary w-100">send</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /contact -->

{{ end }}